.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  height: 100vh;
  width: 100vw;
  color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
}


.background {
  content: '';
  position: absolute;
  z-index: 5;
  height: 0%;
  top: 0px;
  left: 0px;
  right: 0px;
}

.background.enter {
  height: 100%;
  transition: height 1s linear;
}

.left-text,
.right-text {
  z-index: 10;
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.left-text span,
.right-text span {
  font-size: 5rem;
  position: absolute;
  top: calc((50% + 2.5rem) - 150px);
}

.left-text span {  
  transition: right 1s ease;
}

.right-text span {
  transition: left 1s ease;
}

.bottom {
  bottom: 0px;
  position: absolute;
  width: 60vw;
  height: 150px;
  background-color: #fefefe;
  z-index: 10;
}