.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  height: 100vh;
  width: 100vw;
  color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}


.background {
  content: '';
  position: absolute;
  z-index: 5;
  height: 0%;
  top: 0px;
  left: 0px;
  right: 0px;
}

.background.enter {
  height: 100%;
  transition: height 1s linear;
}

.left-text,
.right-text {
  z-index: 10;
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.left-text span,
.right-text span {
  font-size: 2rem;
  position: absolute;
  top: calc((50% + 2.5rem) - 140px);
}

.left-text span {  
  transition: font-size .5s ease, right 1s ease;
}

.right-text span {
  transition: font-size .5s ease, left 1s ease;
}

.image {
  position: absolute;
  transform: rotate(-15deg);
  width: 700px;
  height: 420px;
  left: calc(50% - 400px);
  top: calc(50% - 250px);
}

.image.enter {
  animation: appear 1s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/****************************
* BOTTOM
****************************/

.bottom {
  bottom: 0px;
  position: absolute;
  width: 95vw;
  height: 140px;
  background-color: #fefefe;
  z-index: 10;
  display: flex;
}

.bottom .detail {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.bottom .detail > * {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom .detail > :first-child {
  align-items: flex-end;
  font-size: 1.25rem;
  position: relative;
}

.bottom .detail > :first-child span {
  position: absolute;
  bottom: -4rem;
  transition: bottom 1s ease;
}

.bottom .detail > :first-child span.enter {
  position: absolute;
  bottom: 0px;
}

.bottom .detail > :nth-child(2) {
  z-index: 2;
  background-color: #fefefe;
  font-weight: 400;
}

/****************************
* MEDIA QUERIES
****************************/

@media screen and (min-width: 500px) {
  .left-text span,
  .right-text span {
    font-size: 3rem;
  }
}

@media screen and (min-width: 700px) {
  .left-text span,
  .right-text span {
    font-size: 4rem;
  }
}


@media screen and (min-width: 700px) {
  .bottom .detail {
    font-size: 1.5rem;
  }
  .bottom .detail :first-child {
    font-size: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .bottom {
    width: 70vw;
  }

  .left-text span,
  .right-text span {
    font-size: 5rem;
  }
}